body {
	font-family: Arial, sans-serif;
	color: black;
	padding: 0;
	margin: 0;
 }
.container {
	padding: 0px 10px;
	margin: 0 auto;
}
.user {
	padding: 0px 10px;
	margin: 0 auto;
	color: blue;
	text-align: right;
	margin-right: 10px;
}
h1 {
	font-size: 1.5em;
	color: #bc900a;
	padding: 0;
	margin: 0;
	}
h2 {
	font-size: 1.2em;
	color: #bc900a;
	padding: 0;
	}
h3 {
	font-size: 1.0em;
	padding: 0;
	}
h4 {
	font-size: 1.0em;
	color: red;
	padding: 0;
	}
form  {
	padding: 0px;
	margin: 0 auto;
}

.title_field {
    font-size: 0.8em;
    color: chocolate;
    text-decoration: underline;
    margin-left: 30px;
    }

.color_line{
    font-size: 0.8em;
    color: aqua;
    text-decoration: underline;
    float: right;
}
.data_field {
    display:none;
    width: 100%;
    }
button {
	height: 25px;
	padding: 0px 15px;
	margin: 0px 10px;
	color: black;
	font-size: 0.8em;
	background-color: cornsilk;
}
textarea {
    width: 100%;
    min-height: 1em;
}
.row_btn{
    display: flex;
  	flex-direction: row;
    max-width: 100%;
}
.row_info{
	display: flex;
	width: 100%;
  	flex-direction: row;
  	justify-content: flex-between;
}
.form_column {
	display: flex;
  	flex-direction: column;
}
.field {
	clear: both;
	text-align: right;
	line-height: 25px;
}
label {
	float: left;
	margin-right: 10px;
	font-size:0.8em;
	padding-top: 4px;
}

.page_column{
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.radio_column_firth{
	display: table-cell;
	width: 25%;
	vertical-align: top;
	padding: 0;
}
.radio_column_second{
	display: table-cell;
	width: 30%;
	vertical-align: top;
	padding: 0;
}
.radio_column_third{
	display: table-cell;
	width: 45%;
	vertical-align: top;
	padding: 0;
}
.cabinet_field{
    font-size: 0.8em;
	display: flex;
    width: 100%;
  	flex-direction: row;
}
.cabinet_row{
	display: flex;
	width: 100%;
  	flex-direction: row;
  	justify-content: left;
}
input[type="checkbox"]:checked + span{
    background-color: salmon;
}

.table_body table{
    width: 100%;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: none;
}
.table_body td{
    text-align: left;
    font-size: 0.8em;
    padding: 3px;
    vertical-align: top;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
    contenteditable: true;
}
.table_body textarea {
    width: 100%;
    height: 1em;
    border: none;
    min-width: 80px;
    contenteditable: true;
}
input[type="submit"]{
	margin: 0px 10px;
}
